################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/ECTPFinalProject/.vs/ECTPFinalProject
/ECTPFinalProject/ECTPFinalProject.API/bin/Debug/net7.0
/ECTPFinalProject/ECTPFinalProject.API/obj
/ECTPFinalProject/ECTPFinalProject.Core/bin/Debug/net7.0
/ECTPFinalProject/ECTPFinalProject.Core/obj
/ECTPFinalProject/ECTPFinalProject.Data/obj
/ECTPFinalProject/ECTPFinalProject.Infrastructure/bin/Debug/net7.0
/ECTPFinalProject/ECTPFinalProject.Infrastructure/obj
/ECTPFinalProject/ECTPFinalProject.Tests/bin/Debug/net7.0
/ECTPFinalProject/ECTPFinalProject.Tests/obj
/ECTPFinalProject/ECTPFinalProject.Website/bin/Debug/net7.0
/ECTPFinalProject/ECTPFinalProject.Website/obj
/ECTPFinalProject/ECTPFinalProject.Data/bin/Debug/net7.0
/ECTPFinalProject/.vs/ProjectEvaluation/ectpfinalproject.metadata.v7.bin
/ECTPFinalProject/.vs/ProjectEvaluation/ectpfinalproject.projects.v7.bin
