
<div></div>
<body>
  <div class="content" >
    <h2>League Members</h2>
    <table>
      <tr>
        <th>Name</th>
        <th>Handicap</th>
      </tr>
      <tr *ngFor="let member of this.leagueMembers">
        <td>{{member.firstName}} {{member.lastName}} </td>
        <td>{{member.handicap}}</td>
        <td>{{member.memberId}}</td>
        <td>
          <button (click)="this.goToMemberScores(member.memberId)">Scores</button>
        </td>
      </tr>
    </table>
  
  </div>
  
</body>
<router-outlet></router-outlet>
