/* You can add global styles to this file, and also import other style files */
*{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}
  
body{
    background-color: #427AA1;
    
}
.content{
  background-color: #427AA1;
  margin-top: 200px;
  color: #EBF2FA;
}

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin: 8px 0;
    color: #EBF2FA;
  }
  table{
    background-color: #05668D;
    padding: 15px;
    border-collapse: collapse;
    border: 1px solid #ddd;
    width: 50%;
    color: #EBF2FA;
  }
  th{
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 4px;
    text-align: left
  }
 table, td, tr{
  border: 1px solid #ddd;
  padding: 8px;
 }
  td{
    padding: 10px;
  }
  button{
    background-color: #A5BE00;
    border-radius: 12px;
  }
  button:hover{
    background-color: #679436;
  }

  p {
    margin: 0;
  }

  .spacer {
    flex: 1;
  }

  .toolbar {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 150px;
    display: flex;
    align-items: center;
    background-color: #679436;
    color: #679436;
    font-weight: 600;
  }

  .toolbar img {
    margin: 0 16px;
  }
